body
  .home
    .features
      border-top none
      .feature
        h2
          color: #42b983;
          font-size: 1.5em;
          font-weight: 400;
          margin: 0;
          padding: 0.5em 0;
          text-align center
    .footer
      border-top none
  